@page
@model DeleteModel

@{
    ViewData["Title"] = "Удаление транзакции";
}

<h1>@ViewData["Title"]</h1>

<h3>Вы уверены, что хотите удалить транзакцию?</h3>
<div>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            Дата
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Date)
        </dd>
        <dt class="col-sm-2">
            Сумма
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Amount)
        </dd>
        <dt class="col-sm-2">
            Категория
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Category.CategoryName)
        </dd>
        <dt class="col-sm-2">
            Описание
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Description)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Transaction.Id"/>
        <div class="btn-group" role="group">
            <button type="submit" class="btn btn-danger">Удалить</button>
            <a asp-page="./Index" class="btn btn-secondary">Отмена</a>
        </div>
    </form>
</div>